<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>

        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Bootstrap -->
        <link href="{{ asset('css/bootstrap.css') }}" rel="stylesheet" media="screen">

        <!-- HTML5 Shim and Respond.js add IE8 support of HTML5 elements and media queries -->
        {% include 'BraincraftedBootstrapBundle::ie8-support.html.twig' %}

    </head>
    <body>

        <nav>
            <ul>
                <li>
                    <a href="{{ path('stare-wino') }}">Stare wino</a>
                </li>

                <!-- A -->
                <li>
                    <a href="{{ path('apetyt-rosnie') }}">Apetyt rośnie...</a>
                </li>

                <!-- B -->
                <li>
                    <a href="{{ path('bedziePogoda') }}">Będzie pogoda</a>
                </li>

                <!-- C -->
                <li>
                    <a href="{{ path('nie-kasa-sie-reki') }}">Nie kąsa się ręki...</a>
                </li>


                <!-- D -->


                <!-- E -->
                 <li>
                         <a href="{{ path('atak-jest') }}">Atak jest najlepszą obroną...</a>
                 </li>

                <!-- F -->
                 <li>
                         <a href="{{ path('bez matki') }}">Bez matki...</a>
                 </li>

                <!-- G -->
                <li>
                    <a href="{{ path('suchy-marzec') }}">Suchy marzec, mokry maj...</a>
                </li>

                <!-- H -->


                <!-- I -->
                
                 <li>
                       <a href="{{ path('co-za-duzo') }}">Co za dużo...</a>
                 </li>

                <!-- J -->
                <li>
                       <a href="{{ path('gabrielu') }}">Gabrielu...</a>
                </li>

                <!-- K -->
                 <li>
                       <a href="{{ path('hilary-zapowiada') }}">Hilary zapowiada...</a>
                 </li>

                <!-- L -->
                <li>
                    <a href="{{ path('Wrobel') }}">Lepszy wróbel...</a>
                </li>

                <li>
                    <a href="{{ path('lepiej-dmuchac') }}">Lepiej dmuchać...</a>
                </li>

                <!-- M -->

                 <li>
                 <a href="{{ path('gdzie-glowa-rzadzi') }}">Gdzie głowa rządzi...</a>
                 </li>
                <li>
                    <a href="{{ path('mala-iskierka') }}">Mała iskierka...</a>
                </li>
                <li>
                    <a href="{{ path('mowa-jest') }}">Mowa jest....</a>
                </li>
                 
                <!-- N -->


                <!-- O -->
                <li>
                     <a href="{{ path('gdyby-babcia') }}">Gdyby babcia...</a>
                </li>

                <!-- P -->

                <li>

                    <a href="{{ path('prawda') }}">prawda</a>
 
                </li>
                
                <li>
                    <a href="{{ path('dobre-lekarstwo') }}">Dobre lekarstwo...</a>

                </li>

                <!-- Q -->


                <!-- R -->


                <!-- S -->
                <li>
                    <a href="{{ path('i-pity') }}">I pity...</a>
                </li>

                <!-- T -->
                
                <li>
                    <a href="{{ path('kto-rano-wstaje') }}">Kto rano wstaje...</a>
                </li>

                <!-- U -->
                
                <li>
                    <a href="{{ path('Trud-czlowieczy') }}">Trud człowieczy...</a>
                </li>

                <!-- V -->
                <li>
                    <a href="{{ path('Trafila') }}">Trafila...</a>
                </li>


                <!-- W -->
                              

                <!-- X -->


                <!-- Y -->


                <!-- Z -->

                <li>
                    <a href="{{ path('drapiezniki-lowi-sie') }}">Drapieżniki łowi się...</a>
                </li>


            </ul>
        </nav>


        {% block body %}{% endblock %}

        <footer>Version: 0.0.0</footer>

        <!-- jQuery (necessary for Bootstraps JavaScript plugins) -->
        <script src="{{ asset('js/jquery.js') }}"></script>
        <!-- Include all JavaScripts, compiled by Assetic -->
        <script src="{{ asset('js/bootstrap.js') }}"></script>
    </body>
</html>
